In [2]:
!pip install numpy pandas scikit-learn

Requirement already satisfied: numpy in /home/codespace/.local/lib/python3.12/site-packages (2.2.4)
Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: scikit-learn in /home/codespace/.local/lib/python3.12/site-packages (1.6.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: scipy>=1.6.0 in /home/codespace/.local/lib/python3.12/site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in /home/codespace/.local/lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/codespace/.local/lib/python3.12/site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import os
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv("./data/Chandler.csv")

In [5]:
data.head()

,DROP,Participant,Age,Gender,Year,Anchortype,magnitude,Condition,pen,Proteindrink,lebron,slidy,Cheese,Figurine,TV,beachhouse,number,Notes
0,0,5,19.0,f,soph,round,0,4,3.8,9.94,0.497,30.0,4.50,30.0,3800.0,775000.0,9928,...
1,0,7,21.0,m,jr,round,0,4,3.8,9.00,0.490,30.0,3.00,20.0,4000.0,750000.0,9800,...
2,0,19,18.0,m,frosh,round,0,4,3.8,9.60,0.497,38.0,4.79,40.0,4800.0,795000.0,9500,...
3,0,25,19.0,f,frosh,round,0,4,3.8,9.90,0.480,35.0,4.50,25.0,4750.0,780000.0,9900,...
4,0,27,21.0,f,jr,round,0,4,0.5,5.00,0.400,20.0,4.00,20.0,4900.0,700.0,9000,...